.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #F0F0F0;
  box-sizing: border-box;
}

.actual-app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #F0F0F0;
  box-sizing: border-box;
}

#discussion-container {
  height: 95%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}

#discussionRoomBody {
  display: flex;
  flex-direction: column;
}

.temp-screen {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  background-color: rgba(0, 0, 0, 0.7)
}

#login-modal {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 500px;
  background-color: white;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

#login-header {
  margin: 0;
}

#login-intro {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 500;
}

#login-button {
  background-color: #4267B2;
  transition: background-color 0.1s;
  color: white;
  font-family: Cabin;
  border-radius: 50px;
  font-size: 14px;
  height: 40px;
  width: 170px;
  border: none;
  outline: none;
  cursor: pointer;
}

#login-button:hover {
  background-color: #2951a1;
}