.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #F0F0F0;
}

#discussion-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 20px;
  box-sizing: border-box;
}

#discussionRoomBody {
  display: flex;
  flex-direction: column;
}