#discussion-list-body {
    width: 25%;
    min-width: 400px;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-right: 5px;
    position: relative;
}
